@media only screen and (max-width: 600px) {
    .banner_section .content {
        padding: 0 40px;
        margin-top: 0 !important;
        height: 83vh;
    }
    .banner_section .content h1 {
        font-weight: 600 !important;
        font-size: 50px !important;
    }
}

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(asset/image/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url(asset/image/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle {
        filter: invert(1);
    }
    .banner_section_right .right_imge_position img {
        display: none;
    }
    .count_section .content {
        margin-bottom: 30px;
    }
}
